body {
    background-color: rgb(0, 0, 0);
    text-align: justify;
}

h1 {
    text-align: left;
}

div.container {
    padding: 0.5em;
}

div.menu {
    background-color: rgb(167, 87, 87);
    display: inline-block;
    text-align: left;
    width: 10%;
}

div.menu button{    
    display: inline-block;
}

div.Games {
    align-self: center;
}

div.Games a{
    width: 32%;
    display: inline-block;
}

.container {
    display: grid();
    grid-template-columns: 15em auto;
}
 
div.main {
    background-color: white;
    display: inline-block;
    width: 85%;
}

div Home {
    background-color: blue;
}