body {
    background-color: rgb(50%, 75%, 25%);
    text-align: justify;
}

h1 {
    text-align: center;
}

div.conteudo {
    padding: 0 5em;
}

div.links {
    text-align: center;
}

div.links a {
    width: 32%;
    display: inline-block;
}

div.Games {
    align-self: center;
}

div.Games a{
    width: 32%;
    display: inline-block;
}

