body {
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 0;
}

iframe {
    border: 0;
    height: 100vh;
    padding-left: 1em;
}
iframe.main {
    border-left: 1px solid white;
}

div.container {
    display: grid;
    grid-template-columns: 10em auto;
    margin: 0;
    height: 100vh;
}

