body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 0;
}

iframe {
    border: 0;
    height: 100vh;
    padding-left: 1em;
}
iframe.main {
    border-left: 1px solid rgb(0, 0, 0);
}

div.container {
    display: grid;
    grid-template-columns: 10em auto;
    margin: 0;
    height: 10vh;
}

div.class{
    color:white
}

